In [1]:
import os
import sys
import numpy as np
import pylab as pl
#%pylab inline

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [2]:
import pandas as pd
pd.read_csv("anscombe.csv")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Anscombe's Quartet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Anscombe Data-Set:,I,I,II,II,III,III,IV,IV,NaN,NaN
1,NaN,X,Y,X,Y,X,Y,X,Y,NaN,NaN
2,NaN,10,8.04,10,9.14,10,7.46,8,6.58,NaN,NaN
3,NaN,8,6.95,8,8.14,8,6.77,8,5.76,NaN,NaN
4,NaN,13,7.58,13,8.74,13,12.74,8,7.71,NaN,NaN
5,NaN,9,8.81,9,8.77,9,7.11,8,8.84,NaN,NaN
6,NaN,11,8.33,11,9.26,11,7.81,8,8.47,NaN,NaN
7,NaN,14,9.96,14,8.1,14,8.84,8,7.04,NaN,NaN
8,NaN,6,7.24,6,6.13,6,6.08,8,5.25,NaN,NaN
9,NaN,4,4.26,4,3.1,4,5.39,19,12.5,NaN,NaN
10,NaN,12,10.84,12,9.13,12,8.15,8,5.56,NaN,NaN
11,NaN,7,4.82,7,7.26,7,6.42,8,7.91,NaN,NaN
12,NaN,5,5.68,5,4.74,5,5.73,8,6.89,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,9.00,7.50,9.00,7.50,9.00,7.50,9.00,7.50,Mean,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,10.00,3.75,10.00,3.75,10.00,3.75,10.00,3.75,Variance,(Population)
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,0.816,NaN,0.816,NaN,0.816,NaN,0.817,NaN,Correlation,(Pearson)

In [3]:
pd.read_csv("anscombe.csv",header=[1,2])

   Anscombe Data-Set:       I             II           III             IV  \
   Unnamed: 0_level_1       X      Y       X     Y       X      Y       X
0                 NaN  10.000   8.04  10.000  9.14  10.000   7.46   8.000
1                 NaN   8.000   6.95   8.000  8.14   8.000   6.77   8.000
2                 NaN  13.000   7.58  13.000  8.74  13.000  12.74   8.000
3                 NaN   9.000   8.81   9.000  8.77   9.000   7.11   8.000
4                 NaN  11.000   8.33  11.000  9.26  11.000   7.81   8.000
5                 NaN  14.000   9.96  14.000  8.10  14.000   8.84   8.000
6                 NaN   6.000   7.24   6.000  6.13   6.000   6.08   8.000
7                 NaN   4.000   4.26   4.000  3.10   4.000   5.39  19.000
8                 NaN  12.000  10.84  12.000  9.13  12.000   8.15   8.000
9                 NaN   7.000   4.82   7.000  7.26   7.000   6.42   8.000
10                NaN   5.000   5.68   5.000  4.74   5.000   5.73   8.000
11                NaN     NaN    NaN     NaN   NaN     NaN    NaN     NaN
12                NaN   9.000   7.50   9.000  7.50   9.000   7.50   9.000
13                NaN     NaN    NaN     NaN   NaN     NaN    NaN     NaN
14                NaN  10.000   3.75  10.000  3.75  10.000   3.75  10.000
15                NaN     NaN    NaN     NaN   NaN     NaN    NaN     NaN
16                NaN   0.816    NaN   0.816   NaN   0.816    NaN   0.817

          Unnamed: 9_level_0 Unnamed: 10_level_0
        Y Unnamed: 9_level_1 Unnamed: 10_level_1
0    6.58                NaN                 NaN
1    5.76                NaN                 NaN
2    7.71                NaN                 NaN
3    8.84                NaN                 NaN
4    8.47                NaN                 NaN
5    7.04                NaN                 NaN
6    5.25                NaN                 NaN
7   12.50                NaN                 NaN
8    5.56                NaN                 NaN
9    7.91                NaN                 NaN
10   6.89                NaN                 NaN
11    NaN                NaN                 NaN
12   7.50               Mean                 NaN
13    NaN                NaN                 NaN
14   3.75           Variance        (Population)
15    NaN                NaN                 NaN
16    NaN        Correlation           (Pearson)

In [4]:
pd.read_csv("anscombe.csv",header=[1,2], nrows =11)

   Anscombe Data-Set:   I         II       III         IV         \
   Unnamed: 0_level_1   X      Y   X     Y   X      Y   X      Y
0                 NaN  10   8.04  10  9.14  10   7.46   8   6.58
1                 NaN   8   6.95   8  8.14   8   6.77   8   5.76
2                 NaN  13   7.58  13  8.74  13  12.74   8   7.71
3                 NaN   9   8.81   9  8.77   9   7.11   8   8.84
4                 NaN  11   8.33  11  9.26  11   7.81   8   8.47
5                 NaN  14   9.96  14  8.10  14   8.84   8   7.04
6                 NaN   6   7.24   6  6.13   6   6.08   8   5.25
7                 NaN   4   4.26   4  3.10   4   5.39  19  12.50
8                 NaN  12  10.84  12  9.13  12   8.15   8   5.56
9                 NaN   7   4.82   7  7.26   7   6.42   8   7.91
10                NaN   5   5.68   5  4.74   5   5.73   8   6.89

   Unnamed: 9_level_0 Unnamed: 10_level_0
   Unnamed: 9_level_1 Unnamed: 10_level_1
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
5                 NaN                 NaN
6                 NaN                 NaN
7                 NaN                 NaN
8                 NaN                 NaN
9                 NaN                 NaN
10                NaN                 NaN

In [5]:
ansc=pd.read_csv("anscombe.csv",header=[1,2], nrows =11)
#fig=pl.figure(figsize=(10,10))
print ansc['I']
print ansc.info()

     X      Y
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 10
Data columns (total 11 columns):
(Anscombe Data-Set:, Unnamed: 0_level_1)      0 non-null float64
(I, X)                                        11 non-null int64
(I, Y)                                        11 non-null float64
(II, X)                                       11 non-null int64
(II, Y)                                       11 non-null float64
(III, X)                                      11 non-null int64
(III, Y)                                      11 non-null float64
(IV, X)                                       11 non-null int64
(IV, Y)                                       11 non-null float64
(Unnamed: 9_level_0, Unnamed: 9_level_1)      0 non-null float64
(Unnamed: 10_level_0, Unnamed: 10_level_1)    0 non-null float64
dtypes: float64(7), int64(4)
memory usage: 1.0 KB
None

In [6]:
print "Distribution Means:               {0:.2f}, {1:.2f}, {2:.2f}, {3:.2f}".format(ansc.I.Y.mean(), ansc.II.Y.mean(), ansc.III.Y.mean(), ansc.IV.Y.mean())
print "Distribution Standard Deviations: {0:.2f}, {1:.2f}, {2:.2f}, {3:.2f}".format(ansc.I.Y.std(), ansc.II.Y.std(), ansc.III.Y.std(), ansc.IV.Y.std())
import statsmodels.api as sm

print ansc.I
regmodels={}

Distribution Means:               7.50, 7.50, 7.50, 7.50
Distribution Standard Deviations: 2.03, 2.03, 2.03, 2.03
     X      Y
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68

In [7]:

for i,a in enumerate([ansc.I,ansc.II,ansc.III,ansc.IV]):
    rm = sm.OLS(a.Y, a.X)
    regmodels[i] = rm.fit()
    print "linear regression slope {}".format(regmodels[i].params)

linear regression slope X    0.796803
dtype: float64
linear regression slope X    0.796793
dtype: float64
linear regression slope X    0.796673
dtype: float64
linear regression slope X    0.796783
dtype: float64

In [19]:
fig=pl.figure(figsize=(10,10))
ax=[0]*4

ax[0]=fig.add_subplot(221)
ax[1]=fig.add_subplot(222)
ax[2]=fig.add_subplot(223)
ax[3]=fig.add_subplot(224)

for i,a in enumerate([ansc.I,ansc.II,ansc.III,ansc.IV]):
    #
    a.boxplot(column='Y', ax=ax[i])
pl.show()

In [20]:
fig=pl.figure(figsize=(10,10))
ax=[0]*4

ax[0]=fig.add_subplot(221)
ax[1]=fig.add_subplot(222)
ax[2]=fig.add_subplot(223)
ax[3]=fig.add_subplot(224)

for i,a in enumerate([ansc.I,ansc.II,ansc.III,ansc.IV]):
    #
    a.hist(column='Y', color='SteelBlue',bins=5,ax=ax[i])
pl.show()

In [ ]:
fig=pl.figure(figsize=(10,10))
ax=[0]*4

ax[0]=fig.add_subplot(221)
ax[1]=fig.add_subplot(222)
ax[2]=fig.add_subplot(223)
ax[3]=fig.add_subplot(224)

for i,a in enumerate([ansc.I,ansc.II,ansc.III,ansc.IV]):
    #
    a.plot(kind='scatter',s=100, x='X',y='Y', color='SteelBlue', ax=ax[i])
    xlims=ax[i].get_xlim()
    X_prime = np.linspace(a.X.min(), a.X.max(), 100)[:, np.newaxis]
    y_hat = regmodels[i].predict(X_prime)
    ax[i].plot(X_prime[:, 0], y_hat, '-', color='IndianRed')  
    #pl.plot( ansc.I.X, ansc.I.Y)
pl.show()